<section class="hero column">
  <div>
    <h1>Franco Dipre</h1>
    <p class="first-line">
      Full Stack Developer
      <span class="commented-code">//Angular + C#.Net</span>
    </p>
    <p>
      Ready to <span class="line-through">code</span> solve people's problems
    </p>
    <div id="primary-links">
      <a href="{{resumeUrl}}" target="_blank" class="button">Resume</a>
      <a href="#contact" class="button">Contact</a>
    </div>
  </div>
  <!-- original size: 512x640 -->
  <div class="img">
    <img [hidden]="!heroImageLoaded" src="assets/img/hero-me.jpg" (load)="heroImageLoaded = true" />
    <div [hidden]="heroImageLoaded" class="loading-spinner-space-to-fill"></div>
    <div [hidden]="heroImageLoaded" class="loading-spinner-centered">
      <div class="loading-spinner"></div>
    </div>
  </div>
</section>
