<section class="hero column">
  <div>
    <h1>Franco Dipre</h1>
    <p class="first-line">
      Full Stack Developer
      <span class="commented-code">//Angular + C#.Net</span>
    </p>
    <p>
      Ready to <span class="line-through">code</span> solve people's problems
    </p>
    <div id="primary-links">
      <a href="{{resumeUrl}}" target="_blank" class="button">Resume</a>
      <a href="#contact" class="button">Contact</a>
    </div>
  </div>
  <!-- original size: 512x640 -->
  <div class="hero-image">
    <web-img [src]="'assets/img/hero-me.jpg'" [width]="530" [height]="663" [alt]="'Franco Dipre, a full stack developer, smiling in a professional headshot.'"></web-img>
  </div>
</section>
