.column {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.hero div {
  flex: 1;
}

.hero p.first-line {
  margin-top: 8px;
  font-size: x-large;
}

span.line-through {
  text-decoration: line-through;
  font-style: italic;
}

#primary-links {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.button {
  font: var(--links);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  height: 60px;
  border: solid 2px var(--colorlinks);
  border-radius: 10px;
}

.button:hover {
  border: solid 2px var(--coloraccent);
  transition: var(--transition);
}

.img {
  position: relative;
  width: 100%;
}

img {
  width: 100%;
  border-radius: 5px;
}

.loading-spinner-space-to-fill {
  padding-top: calc(663 / 530 * 100%);
  margin-bottom: 5px;
}

.loading-spinner-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-spinner {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, var(--colorcodekeyword) 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, var(--colorcodekeyword));
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn)
  }
}

@media (max-width: 800px) {
  .column {
    gap: 0;
  }

  .hero {
    flex-direction: column-reverse;
  }

  .img {
    max-width: 450px;
  }
}
