<div id="projects">
  <h2>Projects</h2>
</div>
<section class="projects">
  <div>
    <web-img [src]="'assets/img/angular-template-my-website.png'" [width]="700" [height]="395"
      [alt]="'Angular template to start a personal website'"></web-img>
    <p>Angular template to start a personal website</p>
    <br />
    <a href="https://diprefranco.github.io/angular-template-my-website/" target="_blank">Demo</a>
    <a href="https://github.com/diprefranco/angular-template-my-website" target="_blank">Code</a>
  </div>
</section>
