<footer class="footer">
  <div class="footer-content">
    <div class="footer-icon">
      <a href="./"><img src="favicon.ico" alt="" class="logo" /></a>
    </div>
    <div class="footer-links">
      <div class="link-group">
        <div>Work</div>
        <ul>
          <li><a href="{{resumeUrl}}" target="_blank">Resume</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#projects">Projects</a></li>
        </ul>
      </div>
      <div class="link-group">
        <div>About</div>
        <ul>
          <li><a href="#about-me">About me</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="footer-divider">
  <div class="footer-icons">
    <a href="{{whatsAppUrl}}" target="_blank">
      <svg>
        <use href="assets/icon/whatsapp.svg#whatsapp-icon"></use>
      </svg>
    </a>
    <a href="{{emailUrl}}">
      <svg>
        <use href="assets/icon/email.svg#email-icon"></use>
      </svg>
    </a>
    <a href="{{linkedInUrl}}" target="_blank">
      <svg>
        <use href="assets/icon/linkedin.svg#linkedin-icon"></use>
      </svg>
    </a>
    <a href="{{githubUrl}}" target="_blank">
      <svg>
        <use href="assets/icon/github.svg#github-icon"></use>
      </svg>
    </a>
    <a href="{{stackoverflowUrl}}" target="_blank">
      <svg>
        <use href="assets/icon/stackoverflow.svg#stackoverflow-icon"></use>
      </svg>
    </a>
  </div>
  <div class="footer-copyright">
    <a href="./">© {{currentYear}} Franco Dipre</a>
  </div>
</footer>
