<footer class="footer">
  <div class="footer-content">
    <div class="footer-icon">
      <a href="./"><img src="favicon.ico" alt="" class="logo" /></a>
    </div>
    <div class="footer-links">
      <div class="link-group">
        <div>Group 1</div>
        <ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
      <div class="link-group">
        <div>Group 2</div>
        <ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
      <div class="link-group">
        <div>Group 3</div>
        <ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
      <div class="link-group">
        <div>Group 4</div>
        <ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
      <div class="link-group">
        <div>Group 5</div>
        <ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="footer-divider">
  <div class="footer-icons">
    <a href="#">
      <svg>
        <use href="assets/icon/whatsapp.svg#whatsapp-icon"></use>
      </svg>
    </a>
    <a href="#">
      <svg>
        <use href="assets/icon/email.svg#email-icon"></use>
      </svg>
    </a>
    <a href="#">
      <svg>
        <use href="assets/icon/linkedin.svg#linkedin-icon"></use>
      </svg>
    </a>
    <a href="#">
      <svg>
        <use href="assets/icon/github.svg#github-icon"></use>
      </svg>
    </a>
    <a href="#">
      <svg>
        <use href="assets/icon/stackoverflow.svg#stackoverflow-icon"></use>
      </svg>
    </a>
  </div>
  <div class="footer-copyright">
    <a href="https://diprefranco.github.io/" target="_blank">© {{currentYear}} Franco Dipre</a>
  </div>
</footer>
