h1 {
  font: bold 70px / 90px var(--ff);
}

h2 {
  font: bold 36px / 65px var(--ff);
}

#page-not-found {
  margin-top: var(--sectionseparation);
}

.column {
  display: flex;
  align-items: center;
  gap: 35px;
}

.page-not-found div {
  flex: 1;
}

img {
  width: 100%;
  border-radius: 5px;
}

.links {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.button {
  font: bold 17px / 17px var(--ff);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  height: 50px;
  border: solid 2px var(--colorlinks);
  border-radius: 10px;
}

.button:hover {
  border: solid 2px var(--coloraccent);
  transition: var(--transition);
}

.animate {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.animate.visible {
  opacity: 1;
}

@media (max-width: 800px) {
  .column {
    gap: 0;
  }

  .page-not-found {
    flex-direction: column;
  }

  div.page-not-found-text {
    text-align: center;
  }

  img {
    max-width: 550px;
  }

  .links {
    justify-content: center;
  }
}
