<section id="page-not-found" class="page-not-found column">
  <div class="page-not-found-image">
    <web-img [src]="'assets/img/doc-marty-remote-control.jpg'" [width]="696" [height]="442"
      [alt]="'Franco Dipre, a full stack developer, smiling in a professional headshot.'"></web-img>
  </div>
  <div class="page-not-found-text">
    <h1>404</h1>
    <h2>Great Scott!</h2>
    <p>
      The flux capacitor must've sent you to a missing page.
    </p>
    <div class="links">
      <a href="./" class="button" aria-label="Back to the homepage">Back to the homepage</a>
    </div>
  </div>
</section>
