<div id="contact">
  <h2>Contact</h2>
  <p>Feel free to write me!</p>
</div>
<section class="contact">
  <div>
    <p>
      <span aria-label="Email">{{email}}</span>
      <a href="{{emailUrl}}" aria-label="Contact me via email">
        <svg aria-hidden="true">
          <use href="assets/icon/email.svg#email-icon"></use>
        </svg>
      </a>
    </p>
  </div>
  <div>
    <p>
      <span>LinkedIn</span>
      <a href="{{linkedInUrl}}" target="_blank" aria-label="Go to my LinkedIn account">
        <svg aria-hidden="true">
          <use href="assets/icon/linkedin.svg#linkedin-icon"></use>
        </svg>
      </a>
    </p>
  </div>
</section>
